
<table class="table table-body-hover table-clickable table-activable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parallelism</th>
      <th>Low Watermark</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody ng-repeat="v in job.vertices" ng-class="{ active: v.id == nodeid }" ng-click="changeNode(v)">
    <tr ng-if="v.type == 'regular'">
      <td class="td-long">{{ v.name }}</td>
      <td>{{ v.parallelism }}</td>
      <td>{{ v.lowWatermark | watermark }}</td>
      <td>
        <bs-label status="{{v.status}}">{{v.status}}</bs-label>
      </td>
    </tr>
    <tr ng-if="nodeid &amp;&amp; v.id == nodeid">
      <td colspan="4">
        <div ng-include=" 'partials/jobs/job.plan.node.watermark.html' "></div>
      </td>
    </tr>
  </tbody>
</table>